@tailwind base;
@tailwind components;
@tailwind utilities;

.active_a {
    @apply text-white border-b-2 border-pink-600;
}

.active_i {
    @apply text-pink-500;
}

.inactive_a {
    @apply text-gray-800 border-b-2 border-slate-400;
}

.inactive_a:hover {
    @apply text-gray-800 border-b-2 border-pink-600;
}

.inactive_i {
    @apply text-slate-400;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #30336b;
}

::-webkit-scrollbar-thumb {
    background: rgb(236 72 153);
}

::-webkit-scrollbar-button {
    background: rgb(236 72 153);
}

/* .card-body {
    background-color: #00FF00;
    border-bottom: 1px solid #d9dbdf;
    border-left: 1px solid #d9dbdf;
    border-right: 1px solid #d9dbdf;
    border-radius: 7px;
    margin: 10px;
    box-shadow: 5px 5px 5px #d9dbdf;
}

.body-header {
    max-width: inherit;
    display: flex;
    width: 100%;
    background-color: #6c63ff99;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
} 
*/