@tailwind base;
@tailwind components;
@tailwind utilities;

.active_a {
    @apply text-white border-b-2 border-pink-600;
}

.active_i {
    @apply text-pink-500;
}

.inactive_a {
    @apply text-gray-800 border-b-2 border-slate-400;
}

.inactive_a:hover {
    @apply text-gray-800 border-b-2 border-pink-600;
}

.inactive_i {
    @apply text-slate-400;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #30336b;
}

::-webkit-scrollbar-thumb {
    background: rgb(236 72 153);
}

::-webkit-scrollbar-button {
    background: rgb(236 72 153);
}